/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
}

/* #top-div{
    width: 100%;
    max-height: 400px;
} */
/* top section */

#snow-shop {
    height: 500px;
    width: 100%;
    background: url("../img/snow-shop.jpg");
    background-size: 100% 500px;

}

#snow-shop-btn {
    width: 30%;
    padding-top: 260px;
    padding-left: 166px;
}

#snow-shop-btn>h1 {
    color: #EEEEEE;
    font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    ;
    font-size: 3rem;
    font-weight: bolder;
}

.dropbtn {
    background-color: white;
    /* color: white; */
    padding: 10px 16px 11px 16px;
    font-size: 16px;
    border: none;
   font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

}

.dropdown-btn {

    position: relative;
    display: inline-block;

}

.dropdown-content-btn {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px 17px 11px 17px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-btn a {
    color: black;
    padding: 10px 17px 11px 17px;
    text-decoration: none;
    display: block;
    transition: all 0.5s;
    font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

    /* transform: translateY(-2em); */

    /* transition: all 0.3s ease-in-out 0s; */

}

.dropdown-content-btn a:hover {
    background-color: #ddd;
   font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

.dropdown-btn:hover .dropdown-content-btn {
    display: block;
}

.dropdown-btn:hover .dropbtn {
    background-color: white;
}

#bottom-div{
    min-height: 500px;
    width: 100%;
    background: url("../img/see_you_out_there.jfif");
    background-size: 100% 500px;
    /* padding: 20px; */
}
#bottom-div>h1{
    color: white;
    text-align: center;
    padding-top: 10px;
    /* font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol"; */
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
#bottom-div>div{
    display: flex;
    justify-content: space-between;
    padding:10px 50px;
    overflow-x: auto;


}
#bottom-div>div::-webkit-scrollbar{
width: o;
}
.bottom-div-item{
    min-height: auto;
    background-color: white;
    /* width: 24%; */
    max-width: 340px;
    min-width: 200px;
    margin-left: 10px;
}
.bottom-div-item>div{
    width: 100%;
    min-height: 250px;
}
.bottom-div-item p,.bottom-div-item a,.bottom-div-item h3{
    padding:1rem 2rem;
    color: black;
}
.bottom-div-item a{
    text-decoration: underline;

}
.bottom-div-item>div>img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/* footer section */
footer{
    height: auto;
    width: 100%;
    background-color: #292828;
    /* padding: 10px; */
}
.footer-img-div{
    /* display: inline; */
    width: 22%;
    margin: auto;
    height: 99px;
    padding-top: 23px;
}
.footer-img-div>img{
    /* display: inline; */
    width: 100%;
    /* margin: auto; */
    height: 100%;
}
.footer-text{
    text-align: center;
}
/* .footer-text>span{
} */
.footer-text a{
    color: white;
    text-decoration: underline;
    margin-left: 5px;
}
.footer-text p{
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}
.email{
    width: 100%;
    padding: 10px;
    background-color: white;
}
.email input{
    padding: 10px;
    border: none;

}
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.logo>i{
    margin-left: 10px;
    color: white;
    font-size: 25px;
}
.footer-down-right p,.footer-down-right a,.footer-down-right h3{
    color: white;
}
footer p {
    color:  white;
    margin-top: 5px;
}
.footer-down{
    margin: 55px;
    display: flex;
    justify-content: space-between;
}
.footer-down-left{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.footer-down-left h2{
    color: white;
}
.footer-down-down{
    margin-left: 53px;
    padding-bottom: 23px;
}
#winter-selection{
    margin-top: 70px;
}
#winter-selection>h2{
    text-align: center;
}
/* jacket div  */
.jacket-div{
    margin: auto;
    margin-top: 50px;
    background: url('../img/jacket-pc-img.jpg');
    height: 450px;
    width: 80%;
    background-size: 100% 450px;
}
#jacket-btn-div{
    margin: auto;
    width: 40%
}
#jacket-btn-div>h1,#jacket-btn-div>p{
    text-align: center;
    font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

}
#jacket-btn-div>div{
    width: 29%;
    margin: auto;
    text-align: center;
}
#jacket-btn-div button{
   margin-top: 20px;
    font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    padding: 10px 25px;
    background-color: black;
    color: white;
}
/* slider */


.section3{
    margin: auto;
width:80%;
/* display: flex; */
/* flex-direction: column; */

overflow-x:hidden;
white-space: nowrap;
overflow-y:hidden;
scrollbar-width:none;
scroll-behavior: smooth;
transition:0.5s;
}
.section3 #img-card{
width:30%;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
display:inline-block;
margin:16px;
}
.section3 #img-card img{
width:100%;
height:100%;
}

.section3 #img-card h1{
text-align:center;
padding-left:10px;
}

.section3 .fa-angle-right{
position:absolute;
margin-top:15%;
right:80px;
/* background:#000;
padding:20px;
border-radius:50%;
color:#fff; */
}
.section3 .fa-angle-left{
position:absolute;
margin-top:15%;
left:80px;
/* background:#000;
padding:20px;
border-radius:50%;
color:#fff; */
}
.section3 .angles{
opacity:0.7;
transition:0.5s;
}
.section3 .fa-angle-left:hover{
opacity:1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* .section3 section{
background:#e52d27;
width:150px;
color:#fff;
float:right;
font-size:0.8em;
position:relative;
top:-24px;
} */
@media (max-width:600px){
.section3 #img-card{
width:90%;

}
.section3 #img-card img{
width:100%;
}
.section3 .fa-angle-double-right{
position:absolute;
margin-top:50%;
right:30px;
}
.section3 .fa-angle-double-left{
position:absolute;
margin-top:50%;
left:30px;

}
}

/* get rewards div  */
#get-rewards-div{
    width: 50%;
    margin: auto;
    margin-top: 70px;

}
#get-rewards-div>div:nth-child(1){
    /* display: inline-block; */
    width: 30%;
    margin:auto;
}
#get-rewards-div p{
    text-align: center;
    margin-top: 25px;

}
#get-rewards-div h1{
    text-align: center;
    font-family: "gert bold", sans-serif;
    margin-top: 25px;

}
.get-rewards-div-btn{
    /* display: inline-block; */
    margin:auto;
    margin-top: 25px;
    width: 28%;
}
.get-rewards-div-btn button{
    padding: 10px;
    background-color: black;
}
.get-rewards-div-btn button a{
    color: white;
    /* font-size: large; */
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}
#get-rewards-div>div:nth-child(1)>img{
    /* display: inline-block; */
    width: 100%;
}

/* features image div  */
#feat-div{
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
#feat-child-div{
    margin-top: 15px;
    width: 100%;
}
.feat-img-I{
    height: 450px;
    width: 100%;
    background: url(../img/features-pc-img-1.jpg);
    background-size: 100% 100%;
}
.feat-img-I h2{
    font-family: "gert bold", sans-serif;

    padding-top: 25rem;
    padding-left: 10px;
    color: white;
}
.feat-img-I p{
    color: white;
    text-decoration: underline;
    padding-left: 10px;

}
.feat-img-II-child-div{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 20px;
}
.feat-img-II{
    height: 450px;
    width: 100%;
    background: url(../img/features-pc-img-2.jpg);
    background-size: 100% 100%;
}
.feat-img-III{
    height: 450px;
    width: 100%;
    background: url(../img/features-pc-img-3.jpg);
    background-size: 100% 100%;
}
.feat-img-II h2{
    font-family: "gert bold", sans-serif;

    padding-top: 25rem;
    padding-left: 10px;
    color: white;
}
.feat-img-II p{
    color: white;
    text-decoration: underline;
    padding-left: 10px;

}
.feat-img-III h2{
    font-family: "gert bold", sans-serif;

    padding-top: 25rem;
    padding-left: 10px;
    color: white;
}
.feat-img-III p{
    color: white;
    text-decoration: underline;
    padding-left: 10px;

}

/* play section  */
#play-div{
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.play-child-div{
    width: 100%;
    display: grid;
    justify-content: space-between;
    overflow-x: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.play-child-div::-webkit-scrollbar{
    width: o;
    }
    .play-child-div>div{
        min-width: 200px;
    }
.fishing{
    /* width: 23%; */
    height: 230px;

    background: url(../img/fising-img.jpg);
    background-size: 100% 100%;
}
.hiking{
    /* width: 23%; */

    height: 230px;

    background: url(../img/hiking-img.jpg);
    background-size: 100% 100%;
}
.hunting{
    /* width: 23%; */

    height: 230px;

    background: url(../img/hunting-img.jpg);
    background-size: 100% 100%;
}
.ski-snow{
    /* width: 23%; */

    height: 230px;

    background: url(../img/ski-snow-img.jpg);
    background-size: 100% 100%;
}
.play-child-div h3{
    font-family: "gert bold", sans-serif;
    color: white;
    padding-top: 200px;
    padding-left: 15px;
}


/* motivate-cort-div  */
#motivate-cort-div{
    width: 50%;
    margin: auto;
    margin-top: 70px;
}
#motivate-cort-div>h1{
    text-align: center;
   font-family: "gert bold", sans-serif;
   font-size: 2rem;
   font-weight: 700;
   color: #0085ca;
   line-height: 48px;
   margin-bottom: 25px;
}
#motivate-cort-div p{
    margin-top: 10px;
    text-align: center;
   font-family: "gert bold", sans-serif;
    font-weight: bold;

}




@media (max-width:1170px){
    #snow-shop-btn{
        width: 40%;
        padding-top: 200px;
        padding-left: 166px;
    }
}
@media (max-width:875px){
    #snow-shop-btn{
        width: 50%;
        padding-top: 100px;
        padding-left: 100px;
    }
}
@media (max-width:570px){
    #snow-shop-btn{
        width: 70%;
        padding-top: 100px;
        padding-left: 100px;
    }
}
@media (max-width:500px){
    #snow-shop{
        height: auto;
        background: url(../img/snow-shop-mobile-img.jpg);
    }
    #snow-shop-btn {
        width: 100%;
        padding-top: 90%;
        padding-left: 10%;
        padding-bottom: 30px;

    }
    #jacket-btn-div>div{
        width: 100%;
    }
    .jacket-div {
        height: 350px;
    }
    .feat-img-II-child-div{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:1450px){
    .get-rewards-div-btn{
        width: 40%;
    }
    .get-rewards-div-btn button{
        width: 100%;
    }
}
@media (max-width:850px){
    #get-rewards-div>div:nth-child(1){
        width: 60%;
    }
}
/* @media (max-width:1070px){
    #jacket-btn-div>div{
        width: 40%;
    }
} */
@media (max-width:775px){
    #jacket-btn-div{
        width: 60%;
    }
}