*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.top-header-div{
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.top-header-div select{
    text-align: center;
    padding: 6px 20px;
    font-size: 20px;
    /* background-color: red; */
}


.shop-page{
    width: 93%;
    display: flex;
    margin: auto;

}
.shop-filter-desktop{
    width: 20%;

}
.size-checkbox{
    width:20px;
    accent-color: black;
}
input[type=radio]{
    width:20px;
    accent-color: black;
}
label{
    font-size: 20px;
}
.size-range>div{
    display: flex;
}
hr{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
.size{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.size button{
    font-weight: bold;
    padding: 10px;
}
.size button:hover{
    background-color: black;
    color: white;
    
}


  #wrapper{
    /* width: 1170px;
    margin: 0 auto; */
    margin-left: 20px;
    width: 77%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  figure {
    /* width: 32%; */
    float: left;
    margin: 0;
  }
  figcaption {
    text-align: justify;
    margin-left:15px ;
  }

  .hover-animation {
    position: relative;
    height: 350px;
    /* width: 350px; */
    margin: 10% auto 0;
    color: #fff;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.6); */
  }
  
  .hover-animation img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 350px;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .hover-animation .btn-add{
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    padding: 305px 0;
    text-align: center;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    
  }
  .hover-animation .btn-add>button{
    
   /* margin-top: 250px; */
padding: 12px 10px;
    width: 100%;
    border: none;
    background-color: black;
    font-weight: bold;
    color: white;
  }
  .hover-animation:hover div{
    opacity: 1;

  }
  /* figcaption:hover h2{
    display: none;

  } */
  .hover-animation img.img-front:hover{
    opacity:0;
    cursor: pointer;
    
  }
  figcaption div{
    width: 45%;
    display: flex;
    /* margin: auto; */
    /* text-align: center; 
    */
    /* align-items: center; */
  }
  figcaption div>h4{
    color: darkslategray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  figcaption div>strike{
    margin-left: 10px;
    font-size: 13px;
    color: rgb(45, 42, 40);
  }
  figcaption p{
    text-align: center;
    color: limegreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }